#map-container {
    position: relative;
    width: 80vw;
    height: 80vh;
    margin-top: 120px; /* 给地图容器添加上边距，避免被导航栏遮挡 */
}

#map {
    height: 100%;
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
