#search-container {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1000; /* 确保搜索栏在地图之上 */
}

#search-input-container {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9); /* 毛玻璃效果 */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 5px;
    transition: transform 0.3s ease;
}

#search-input-container:hover,
#search-input-container:focus-within {
    transform: scale(1.05); /* 放大效果 */
}

#search-input {
    border: none;
    outline: none;
    padding: 10px 20px; /* 添加内边距，避免光标被圆角盖住 */
    font-size: 16px;
    border-radius: 20px;
    width: 200px;
    margin-right: 5px;
}

#search-button {
    border: none;
    background-color: #ffc107; /* 背景色 */
    color: white; /* 图标颜色 */
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%; /* 圆形按钮 */
}

#suggestions {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #ddd;
    border-radius: 0 0 10px 10px;
    max-height: 200px;
    overflow-y: auto;
    display: none; /* 初始隐藏 */
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 1000;
}

#suggestions div {
    padding: 5px 10px;
    cursor: pointer;
}

#suggestions div:hover {
    background-color: rgba(240, 240, 240, 0.9);
}
